TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_SESSION_NAME=tg_session
BOT_TOKEN=
BOT_CHAT_ID=
NVIDIA_API_KEY=
NVIDIA_MODEL_NAME=deepseek-ai/deepseek-v4-pro
GROQ_API_KEY=
GROQ_MODEL_NAME=llama-3.1-8b-instant
TIMEZONE=Asia/Seoul
SUMMARY_MAX_CHARS=1000
LOOKBACK_HOURS=24
